section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

.fullscreen-dialog {
    max-width: 100% !important;
    max-height: 100% !important;
    width: 100%;
    height: 100%;
}