.footer{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: blueviolet;
}

.col1{
    background-color: aqua;
}

.col1{
    background-color: rgba(33, 85, 28, 0.603);
}

.test2{
    background-color: rgba(28, 46, 85, 0.603);
}

.viewport{
    height: 100%;
    width: 100%;
}

.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    min-width: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    /* Other properties */
}