<mat-card class="mat-whiteframe-2dp">
    <mat-card-title-group>
      <mat-card-title>
        <a href="javascript:void(0);">
          <span>{{ team.name }}</span>
        </a>
      </mat-card-title>
    </mat-card-title-group>
    <div class="buttons-info">
        <a mat-button title="Locate" href="javascript:void(0);">
          <mat-icon svgIcon="icon-maps"></mat-icon>
        </a>
        <a mat-button title="Edit" [routerLink]="['/edit', team._id]">
          <mat-icon svgIcon="icon-edit"></mat-icon>
        </a>
        <button mat-button title="Delete" (click)="delete(team)">
          <mat-icon svgIcon="icon-delete"></mat-icon>
        </button>
      </div>
</mat-card>
  