<mat-card class="mat-whiteframe-2dp">
    <mat-card-title-group>
      <mat-card-title>
        <a href="javascript:void(0);">
          <span>{{ team.name }}</span>
        </a>
      </mat-card-title>
    </mat-card-title-group>
    <mat-card-footer >
      <mat-card-actions class="buttons">
      <button mat-button color="accent" [routerLink]="['/teamDetails', team._id]"><mat-icon>add_circle</mat-icon></button>
      <button mat-button color="accent" [routerLink]="['/edit', team._id]"> <mat-icon >edit</mat-icon></button>
      <button mat-button color="accent" (click)="delete(team)"><mat-icon >delete</mat-icon></button>
      </mat-card-actions>
  </mat-card-footer>
</mat-card>
  