<mat-card class="mat-whiteframe-2dp">
    <mat-card-title-group>
      <img mat-card-sm-image src="{{ player.clubLogoUrl }}" />
      <img mat-card-md-image src="{{ player.playerFaceUrl }}" />
      <mat-card-title>
        <a href="javascript:void(0);">
          <span>{{ player.longName }}</span>
        </a>
      </mat-card-title>
      <mat-card-subtitle>{{ player.clubName }}</mat-card-subtitle>
      <mat-card-subtitle>{{ player.playerPositions }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <mat-grid-list cols="3">
        <mat-grid-tile  [colspan]="2" [rowspan]="2">
          <stat [stat]="overall"></stat>
        </mat-grid-tile>

        <ng-template [ngIf]="isGoalKeeper">
          <mat-grid-tile>
            <stat [stat]="diving"></stat>
          </mat-grid-tile>
          <mat-grid-tile>
            <stat [stat]="kicking"></stat>
          </mat-grid-tile>
          <mat-grid-tile>
            <stat [stat]="positioning"></stat>
          </mat-grid-tile>
          <mat-grid-tile>
            <stat [stat]="reflexes"></stat>
          </mat-grid-tile>
          <mat-grid-tile>
            <stat [stat]="speed"></stat>
          </mat-grid-tile>
        </ng-template>

        <ng-template [ngIf]="!isGoalKeeper">
          <mat-grid-tile>
            <stat [stat]="shooting"></stat>
          </mat-grid-tile>
          <mat-grid-tile>
            <stat [stat]="passing"></stat>
          </mat-grid-tile>
          <mat-grid-tile>
            <stat [stat]="dribbling"></stat>
          </mat-grid-tile>
          <mat-grid-tile>
            <stat [stat]="defending"></stat>
          </mat-grid-tile>
          <mat-grid-tile>
            <stat [stat]="physic"></stat>
          </mat-grid-tile>
        </ng-template>
        
        
      </mat-grid-list>
    </mat-card-content>
</mat-card>
  