<mat-card class="mat-whiteframe-2dp">
    <mat-card-title-group>
      <img mat-card-md-image src="{{ player.playerFaceUrl }}" />
      <mat-card-title>
        <a href="javascript:void(0);">
          <span>{{ player.longName }}</span>
        </a>
      </mat-card-title>
      <mat-card-subtitle>{{ player.nationalityName }}</mat-card-subtitle>
      <mat-card-subtitle>{{ player.clubName }}</mat-card-subtitle>
      <mat-card-subtitle>{{ player.playerPositions }}</mat-card-subtitle>
    </mat-card-title-group>
</mat-card>
  